.images__list {
    display: flex; /* Используем flexbox для выравнивания карточек в строку*/
    /*Если карточки не влезут в строку, то перенос на новую*/

    gap: 50px; /* промежуток между карточками */
    justify-content: center; /* распределяем элементы по центру*/ 
    list-style-type: none; /*убираем маркеры от списка ul*/
    margin: 0; /*ставим в 0 пикселей внешние отступы*/
    padding: 0; /*ставим в 0 пикселей внутренние отступы*/

}
.images__item {
    padding: 10px 30px;  /* Внутренние отступы: 10px сверху и снизу, 30px слева и справа */
     border-radius: 20px; /* скругление углов на 20px*/
    box-shadow: 0 8px 16px 0 rgba(246, 118, 203, 0.763);/*тень карточки*/
}

.images__item:hover {
    transform: scale(1.1); /* Увеличение карточки */
    cursor: pointer;
}
