.about{
    display: flex;
    gap: 10px;
   }
   .about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .about{
    background-color: rgb(247, 133, 196);
     color: rgb(255, 255, 255);
     padding: 10px;
    }
    
    main {
        padding: 20px;
    }
    
    
    
    
    .charset {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 40px 0;
        background-color: #f370b1;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 20px;
        text-align: center;
    }
    
    .image-container img {
        margin: 0 10px;
        max-width: 100%;
        height: auto;
    }
    .center-text {
        text-align: center;
    }
    
.hero {
        text-align: center;
        padding: 40px 0;
        background-color: #f596c5;
    }
    
 .hero h2 {
        font-size: 2em
    }
 
        
 .about__name {
        width: 100%;
        text-align: center;
        }
.contact {
    width: 100%;
    text-align: center;

}  
