.about{
    display: flex;
    gap: 10px;
   }
   .about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .about{
    background-color: rgb(247, 133, 196);
     color: rgb(255, 255, 255);
     padding: 10px;
    }
    aside {
        float: right;
        width: 200px;
        flex: 1;
        padding: 20px;
        border: 1px solid #f596c5;
        background-color: #ffffff;
        box-sizing: border-box;
        color:#9a0a52;
    }
    main {
        padding: 20px;
    }
    
    
    .breeds__card{
        width: 350px;
        text-align: center;
        padding: 15px;
        background-color: #f596c5;
       color: black;
       }
       .breeds__name{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: none; /* Убирает подчеркивание */
        color: black; /* Устанавливает цвет текста ссылки */
       }
       .breeds__name:hover{ 
        color: #9a0a52;
       }
       .breeds {
        margin: 0;
        padding: 20px 0;
        display: flex;
        gap: 20px;
        background-color: #ffffff;
        list-style-type: none;
       }
       .breeds__image{
        width: 100%;
        height: 300px;
        object-fit: cover;
        
       }
       
       .breeds__price{
        margin-top: 20px;
        font-weight: 200;
        font-size: 25px;
       }
       .breeds__list{
        margin-top: 5px;
        display: flex;
        column-gap: 20px;

       }
    
    .charset {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 40px 0;
        background-color: #f370b1;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 20px;
        text-align: center;
    }
    
    .image-container img {
        margin: 0 10px;
        max-width: 100%;
        height: auto;
    }
    .center-text {
        text-align: center;
    }
    
.hero {
        text-align: center;
        padding: 40px 0;
        background-color: #f596c5;
    }
    
 .hero h2 {
        font-size: 2em
    }
 
        
 .about__name {
        width: 100%;
        text-align: center;
        }
.contact {
    width: 100%;
    text-align: center;

}  
.popular__cats__card{
    width: 1350px;
    margin-top: 60px;
    display: flex;
    gap: 40px;
    overflow: hidden;
}
.popular__cats__img{
    min-width: 360px;
}
.popular__cats__item{
    width: 360px;
    transition: 0.3s ease;
}
.popular__cats__link{
    border: none;
    margin-top: 20px;
    color: #9a0a52;
    cursor: pointer;
}



.cat-card {
    margin: 10px;
}
.cat-image {
    width: 200px; /* Размер изображения */
    height: 200px; /* Размер изображения */
    border-radius: 50%; /* Сделать изображение круглым */
    object-fit: cover; /* Сохранить пропорции изображения */
}
.cat-name {
    margin-top: 5px;
}
.cats{

    display: flex;
    flex-wrap: wrap;
}


.images__list {
    display: flex; /* Используем flexbox для выравнивания карточек в строку*/
    flex-wrap: wrap; /*Если карточки не влезут в строку, то перенос на новую*/

    gap: 50px; /* промежуток между карточками */
    justify-content: center; /* распределяем элементы по центру*/ 
    list-style-type: none; /*убираем маркеры от списка ul*/
    margin: 0; /*ставим в 0 пикселей внешние отступы*/
    padding: 0; /*ставим в 0 пикселей внутренние отступы*/

}
.images__item {
    padding: 10px 30px;  /* Внутренние отступы: 10px сверху и снизу, 30px слева и справа */
     border-radius: 20px; /* скругление углов на 20px*/
    box-shadow: 0 8px 16px 0 rgba(246, 118, 203, 0.763);/*тень карточки*/
}


.popular__cats__left{

    background-color: #ff69b4; /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 50%; /* Форма круга */
    padding: 10px 20px; /* Отступы */
    cursor: pointer; /* Курсор при наведении */
    
    align-items: center; /* Выравнивание по центру по вертикали */
}
.popular__cats__right{

    background-color: #ff69b4; /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 50%; /* Форма круга */
    padding: 10px 20px; /* Отступы */
    cursor: pointer; /* Курсор при наведении */
    
    align-items: center; /* Выравнивание по центру по вертикали */
}
.arrow__right {
    display: inline-block; /* Позволяет управлять размером элемента */
    width: 0; 
    height: 0; 
    border-left: 10px solid white; /* Стрелка */
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
}
.arrow__left {
    display: inline-block; /* Позволяет управлять размером элемента */
    width: 0; 
    height: 0; 
    border-right: 10px solid white; /* Изменено с border-left на border-right */
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
   
}
