

/* Подключение шрифтов */
@import "fonts.css";
/* Подключение основных стилей */
@import "base.css";
/* Подключение стилей относящихся к header */
@import "header.css";
/* Подключение стилей относящихся к footer */
@import "footer.css";
/* Подключение стилей относящихся к main */
@import "main.css";
@import "media.css";
@import "normalize.css";
@import "preloader.css";
@import "cat-cards.css";
@import "images.css";
@import "popular__cats.css";
@import "breeds_top-3.css";
@import "forms.css";
@import "popup.css";
@import "animation.css";
@import "links.css";
@import "cats2.css";

html {
    height: 100%;
    width: 100%;
}
html {
    display: block;
}